<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050381680231-t0rok4g2qbf9o9ed8kit89lcuiu1jkpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050381680231-t0rok4g2qbf9o9ed8kit89lcuiu1jkpo</string>
	<key>API_KEY</key>
	<string>AIzaSyBkkX--_XZDi1BV_SSEKomGO1UauoSulRU</string>
	<key>GCM_SENDER_ID</key>
	<string>1050381680231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resortbooking</string>
	<key>PROJECT_ID</key>
	<string>farmhousebooking-ce783</string>
	<key>STORAGE_BUCKET</key>
	<string>farmhousebooking-ce783.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050381680231:ios:04c641e040b461b189dec2</string>
</dict>
</plist>